// .custom-accordion {
//     width: 100%;
//   }
  
//   .custom-header {
//     background-color: #e6e6e6;
//     border-bottom: 1px solid #ccc;
//     padding: 10px;
//     font-weight: bold;
//   }
  
//   .image-container {
//     margin: 10px;
//   }
  
//   .caption-list {
//     list-style: none;
//     padding-left: 20px;
//   }
  
//   .caption-list li {
//     margin-bottom: 5px;
//   }
  

h1,h2,*{
    font-family: 'Montserrat';
}

::ng-deep mat-expansion-panel-header{
    height: 60px !important;
}

::ng-deep mat-panel-title{
    height: 20px !important;
}

